
body{
    overflow-x: hidden;
    overflow-y: auto !important;
    position: relative;
    background-color: #eff1f9;
    font-family: "Open Sans", sans-serif !important;
}
*{
    margin: 0;
    padding: 0;
}

.fs-14{
  font-size: 14px;
}
.fs-15{
  font-size: 15px;
}

strong{
    font-weight: 600 !important;
}
.login-bg {
  position: relative;
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  &::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.51);
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0;
  }
}
.menu-item {
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
}
.MuiListItemIcon-root {
    min-width: 22px !important;
}
.MuiTableContainer-root{
  margin-top: 8px !important;
}

.MuiInputLabel-root.Mui-error {
  color: inherit !important;
}
.MuiCard-root {
  border: none !important;
  box-shadow: none !important; /* if you also want no shadow */
  
}
.MuiTypography-p {
  font-size: 14px;
  line-height: 18px !important;
}
.Mui-TableHeadCell-Content-Labels{
  font-weight: 600 !important;
}
.equal-chip {
  min-width: 120px;   /* or width: 120px for fixed */
  justify-content: center;
}
.responsiveTable {
  width: 100%;
  border-collapse: collapse; // makes borders look clean
  border: 1px solid #9e9e9e; // outer border

  th,
  td {
    border: 1px solid #9e9e9e; // cell borders
    padding: 8px 12px;
    font-size: 14px;
  }

  th {
    text-align: left; // align th text to left
    font-weight: 600;
  }

  @media screen and (min-width: 992px) {
    thead {
      background-color: #e5e5e5; // light gray background only for large screens
    }
  }
}

.responsiveTable {
  @media screen and (max-width: 40em) {
    tbody {
      tr {
        padding: 0.75em;
        margin-bottom: 15px;
      }
      td.pivoted {
      margin-bottom: 4px;
      font-size: 14px;
    }
    }
  }
}

.MuiPickersSectionList-root-MuiPickersInputBase-sectionsContainer-MuiPickersOutlinedInput-sectionsContainer {
    padding: 8px 0 !important;
}
textarea{
  font-size: 15px;
  font-family: "Open Sans", sans-serif !important;
  &:focus-visible{
    outline: 0 !important;
  }
}

.MuiFormHelperText-root{
  margin-left: 0 !important;
}
.w-300{
  width: 300px;
}
.production-card-wrapper {
    max-width: 300px;
    overflow: hidden;
}
.production-status-details{
  td{
    font-size: 14px;
    padding: 3px 0;
    text-align: left !important;
    align-content: flex-start;
    &.title{
      min-width: 80px;
    }
    strong{
       font-weight: 500 !important;
    }
  }
 
}
/* GLOBAL SCROLLBAR WIDTH */
::-webkit-scrollbar {
  height: 6px; 
  width:  6px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
}

.MuiMenu-paper {
  pointer-events: auto;
}
